*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.central {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 35px;
}

body {
  font-family: monospace;
  background-color: #fff;
}

.central {
  padding-top: 35px;
}

header {
  padding: 20px;
  padding-top: 0px;
  text-align: center;
}

.generator {
  font-size: 18px;
  margin: 0 auto;
  max-width: 850px;
  padding: 25px 45px;
  border: dotted; 
}

.generator-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.generator-body {
  min-height: 100px;
}

.generator-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.generator-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.button {
  background-color: lightcoral;
  font-family: monospace; 
  font-size: 20px;
  display: inline-block;
  margin: 15px 15px 15px 20px;
  padding: 15px 35px;
  border: none;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}

.float-right {
  float: right;
}

#password {
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none; */
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  /* padding-left: 15px; */
  /* padding-right: 15px; */
  /* padding-bottom: 85px; */
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .button {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .button {
    font-size: 0.8rem;
  }
}